---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=ygy5lPJR4s2X7f3T3aSquY4nEPyqSkP4&location=Key%20Largo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 27 Apr 2022 11:42:12 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Key
        Largo"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Key
        Largo","adminArea5Type":"City","adminArea4":"Monroe County","adminArea4Type":"County","adminArea3":"FL","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039839","unknownInput":"","type":"s","latLng":{"lat":25.130444,"lng":-80.406532},"displayLatLng":{"lat":25.130444,"lng":-80.406532},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=ygy5lPJR4s2X7f3T3aSquY4nEPyqSkP4&type=map&size=225,160&locations=25.130444,-80.406532|marker-sm-50318A-1&scalebar=true&zoom=12&rand=245560576"}]}]}'
  recorded_at: Wed, 27 Apr 2022 11:42:12 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=fa1a0033c3d663d5b007a3786edee3c4&exclude=minutely,%20alerts&lat=25.130444&lon=-80.406532&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":25.1304,"lon":-80.4065,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1651059732,"sunrise":1651056520,"sunset":1651103374,"temp":76.19,"feels_like":76.48,"pressure":1017,"humidity":63,"dew_point":62.69,"uvi":0,"clouds":68,"visibility":10000,"wind_speed":3,"wind_deg":126,"wind_gust":8.01,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1651057200,"temp":76.14,"feels_like":76.5,"pressure":1017,"humidity":65,"dew_point":63.52,"uvi":0,"clouds":67,"visibility":10000,"wind_speed":10.49,"wind_deg":116,"wind_gust":10.89,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1651060800,"temp":76.19,"feels_like":76.48,"pressure":1017,"humidity":63,"dew_point":62.69,"uvi":0,"clouds":68,"visibility":10000,"wind_speed":10.29,"wind_deg":112,"wind_gust":10.69,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1651064400,"temp":76.33,"feels_like":76.68,"pressure":1017,"humidity":64,"dew_point":63.27,"uvi":0,"clouds":65,"visibility":10000,"wind_speed":10.2,"wind_deg":121,"wind_gust":10.11,"weather":[{"id":803,"m[...]
