---
http_interactions:
- request:
    method: get
    uri: https://api.pexels.com/v1/search?locale=en-US&page=1&per_page=15&query=San%20Diego
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 563492ad6f91700001000001f86c9b5c9f164dc486643598f775abe3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '20000'
      X-Ratelimit-Remaining:
      - '19984'
      X-Ratelimit-Reset:
      - '1653400157'
      X-Server:
      - anteater
      X-Tyk-Cached-Response:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"per_page":15,"photos":[{"id":2157685,"width":7952,"height":5304,"url":"https://www.pexels.com/photo/marina-during-golden-hour-2157685/","photographer":"Lucas
        Fonseca","photographer_url":"https://www.pexels.com/@lucasfonseca","photographer_id":431903,"avg_color":"#456271","src":{"original":"https://images.pexels.com/photos/2157685/pexels-photo-2157685.jpeg","large2x":"https://images.pexels.com/photos/2157685/pexels-photo-2157685.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=2\u0026h=650\u0026w=940","large":"https://images.pexels.com/photos/2157685/pexels-photo-2157685.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=650\u0026w=940","medium":"https://images.pexels.com/photos/2157685/pexels-photo-2157685.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=350","small":"https://images.pexels.com/photos/2157685/pexels-photo-2157685.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=130","portrait":"https://images.pexels.com/photos/2157685/pexels-photo-2157685.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=1200\u0026w=800","landscape":"https://images.pexels.com/photos/2157685/pexels-photo-2157685.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=627\u0026w=1200","tiny":"https://images.pexels.com/photos/2157685/pexels-photo-2157685.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=1\u0026fit=crop\u0026h=200\u0026w=280"},"liked":false,"alt":"Marina
        During Golden Hour"},{"id":2984224,"width":4032,"height":3024,"url":"https://www.pexels.com/photo/an-island-with-resort-house-2984224/","photographer":"Daniel
        Frese","photographer_url":"https://www.pexels.com/@daniel","photographer_id":493,"avg_color":"#9AA3B5","src":{"original":"https://images.pexels.com/photos/2984224/pexels-photo-2984224.jpeg","large2x":"https://images.pexels.com/photos/2984224/pexels-photo-2984224.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=2\u0026h=[...]
