---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=ygy5lPJR4s2X7f3T3aSquY4nEPyqSkP4&location=San%20Diego
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 25 Apr 2022 11:19:00 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"San
        Diego"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"San
        Diego","adminArea5Type":"City","adminArea4":"San Diego County","adminArea4Type":"County","adminArea3":"CA","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282038949","unknownInput":"","type":"s","latLng":{"lat":32.71576,"lng":-117.163817},"displayLatLng":{"lat":32.71576,"lng":-117.163817},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=ygy5lPJR4s2X7f3T3aSquY4nEPyqSkP4&type=map&size=225,160&locations=32.71576,-117.163817|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1878457889"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"San
        Diego","adminArea5Type":"City","adminArea4":"Duval County","adminArea4Type":"County","adminArea3":"TX","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","[...]
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=fa1a0033c3d663d5b007a3786edee3c4&exclude=minutely,%20alerts&lat=32.71576&lon=-117.163817&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":32.7158,"lon":-117.1638,"timezone":"America/Los_Angeles","timezone_offset":-25200,"current":{"dt":1650885540,"sunrise":1650892046,"sunset":1650939925,"temp":61.07,"feels_like":58.95,"pressure":1015,"humidity":44,"dew_point":39.02,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":8.05,"wind_deg":70,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"hourly":[{"dt":1650884400,"temp":61.07,"feels_like":58.95,"pressure":1015,"humidity":44,"dew_point":39.02,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":3.04,"wind_deg":31,"wind_gust":3.76,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1650888000,"temp":62.06,"feels_like":59.94,"pressure":1015,"humidity":42,"dew_point":38.73,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":2.42,"wind_deg":30,"wind_gust":3.11,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1650891600,"temp":62.98,"feels_like":60.85,"pressure":1015,"humidity":40,"dew_point":38.32,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":2.55,"wind_deg":45,"wind_gust":3.15,"weather":[{"id":800,"main":"Clear"[...]
