---
http_interactions:
- request:
    method: get
    uri: https://api.pexels.com/v1/search?locale=en-US&page=1&per_page=15&query=456
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 563492ad6f91700001000001f86c9b5c9f164dc486643598f775abe3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '20000'
      X-Ratelimit-Remaining:
      - '19864'
      X-Ratelimit-Reset:
      - '1653400157'
      X-Server:
      - alpaca
      X-Tyk-Cached-Response:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"per_page":15,"photos":[],"total_results":0}'
  recorded_at: Wed, 27 Apr 2022 12:57:11 GMT
recorded_with: VCR 6.1.0
