---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=ygy5lPJR4s2X7f3T3aSquY4nEPyqSkP4&location=123685645
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 27 Apr 2022 10:39:28 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"123685645"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A1XAX","geocodeQuality":"COUNTRY","dragPoint":false,"sideOfStreet":"N","linkId":"282934758","unknownInput":"","type":"s","latLng":{"lat":39.390897,"lng":-99.066067},"displayLatLng":{"lat":39.390897,"lng":-99.066067},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=ygy5lPJR4s2X7f3T3aSquY4nEPyqSkP4&type=map&size=225,160&locations=39.390897,-99.066067|marker-sm-50318A-1&scalebar=true&zoom=2&rand=-1342093639"}]}]}'
  recorded_at: Wed, 27 Apr 2022 10:39:28 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=fa1a0033c3d663d5b007a3786edee3c4&exclude=minutely,%20alerts&lat=39.390897&lon=-99.066067&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.3909,"lon":-99.0661,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1651055968,"sunrise":1651059737,"sunset":1651109112,"temp":54.48,"feels_like":51.84,"pressure":1014,"humidity":47,"dew_point":34.7,"uvi":0,"clouds":79,"visibility":10000,"wind_speed":17.81,"wind_deg":188,"wind_gust":39.3,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}]},"hourly":[{"dt":1651053600,"temp":54.64,"feels_like":51.96,"pressure":1014,"humidity":46,"dew_point":34.3,"uvi":0,"clouds":78,"visibility":10000,"wind_speed":18.43,"wind_deg":187,"wind_gust":40.65,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0},{"dt":1651057200,"temp":54.48,"feels_like":51.84,"pressure":1014,"humidity":47,"dew_point":34.7,"uvi":0,"clouds":79,"visibility":10000,"wind_speed":17.81,"wind_deg":188,"wind_gust":39.3,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0},{"dt":1651060800,"temp":54.59,"feels_like":52,"pressure":1014,"humidity":48,"dew_point":35.31,"uvi":0,"clouds":80,"visibility":10000,"wind_speed":18.01,"wind_deg":189,"wind_gust":38.5,"weather":[{"id":803,"main":[...]
